.workspace{
    height: 100dvh;
    display: flex;
}

/* Sidebar container */
.sidebarContainer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
  z-index: 9999;
  height: 100dvh; 
}

.sidebarOpen {
  transform: translateX(0);
}