.landingContainer {
  

    >main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}

.homeContainer {
    display: flex;
    height: 100vh;
    max-height: 100vh;

    
    >section{
        display: flex;
        flex-direction: column;
        transition: all 300ms ease;

       
    }
  
}
