.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    padding: 16px;
    height: calc(100dvh - 8px);
    

    >header{
      display: flex;
      justify-content: space-between;
      align-items: center;

        >h1{
          font-weight: 600;
          margin-bottom: 8px;
      }
    }

    .responseContainer{
      border: 1px solid #d6d6d666;
    }
    .promptContainer{
      display: flex;
      gap: 8px;
      color: #d6d6d666;
    }

    

  

    .guard{
        border: 1px solid blue;
        height: 100%;
    }
    border-radius: 8px;
}

/* Estilos para hacer que el texto se vea mejor en el área de respuesta */
.response {
  white-space: pre-wrap; /* Preserva saltos de línea y espacios */
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
}

.promptContainer {
  width: 100%;
  >.button{
    background: none;
    border: none;
  }

 
}

.promptInput {
  width: 100%;
  font-size: 16px;
  padding: 8px 0px;
  border-radius: 8px;
  background-color: #000000;
  color: #333;
  transition: all 0.3s ease;
  outline: none;
  text-indent: 8px;
}

.promptInput:focus {
  outline: none;
  border-color: #303f9f;
  box-shadow: 0 0 8px rgba(63, 81, 181, 0.5);
}

.promptInput::placeholder {
  color: #9e9e9e;
}

.promptInput:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.responseContainer {
  border-radius: 8px;
  padding: 8px;

  
 flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth; 
}